<p>
  <strong>Room:</strong>
  <%= link_to @question.room.name, room_path(@question.room) %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= link_to @question.title, room_question_path(@question.room, @question) %>
</p>

<% @answers.each do |answer| %>
  <%= answer.content %>
<% end %>

<br>

<% @tags.each do |tag| %>
  <%= link_to tag[:name], tag_path(tag)%>
<% end %>

<!-- # <%= link_to 'Edit', edit_room_question_path(@question.room, @question) %> | -->
<!-- # <%= link_to 'Back', room_questions_path(@question.room) %> -->
