<h1>
  <%= link_to @question.room.name, room_path(@question.room) %>
</h1>

<h4><%= link_to @question.title, room_question_path(@question.room, @question) %></h4>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="media">

      <div class="media-left media-top">
        <%= link_to @question.user.username, '#'%>
        <%= link_to like_answer_path(@answer), method: :put do %>
          Upvote
          <%= @answer.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_answer_path(@answer), method: :put do %>
          Downvote
          <%= @answer.get_downvotes.size %>
        <% end %>
      </div>

      <div class="media-body">
        <%= @answer.content %>
        <br>
      </div>

    </div>
    <br>
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    Tags:
    <% @tags.each do |tag| %>
    <span class="badge"><%= link_to tag[:name], tag_path(tag), class: "tags-text"%></span>
    <% end %>
  </div>
</div>

<% @answers.each do |answer| %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left media-top">
        <%= link_to answer.user.username, '#' %>
        <%= link_to like_answer_path(answer), method: :put do %>
          Upvote
          <%= answer.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_answer_path(answer), method: :put do %>
          Downvote
          <%= answer.get_downvotes.size %>
        <% end %>
      </div>
      <div class="media-body">
        <%= answer.content %> <br>
      </div>
    </div>
  </div>
</div>
<% end %>

<form action="<%= answers_path %>" method="post" onsubmit="postAnswer()">
  <textarea name="content" rows="8" class="form-control"></textarea>
  <br>
  <input type="submit" value="Post answer" class="btn btn-primary">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <%= hidden_field_tag "question_id" %>
</form>

<% content_for :js do %>
<script>
  function postAnswer() {
    var question_id = "<%= params[:id] %>";
    $("#question_id").val(question_id);
  }
</script>
<% end %>

<!-- # <%= link_to 'Edit', edit_room_question_path(@question.room, @question) %> | -->
<!-- # <%= link_to 'Back', room_questions_path(@question.room) %> -->
