<h3>
  <%= link_to @question.room.name, room_path(@question.room) %>
</h3>

<h4><%= link_to @question.title, room_question_path(@question.room, @question) %></h4>

<div class="panel panel-default">
  <div class="panel-body">

    <div class="media">

      <div class="media-left media-top">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>

      <div class="media-body">
        <%= @answer.content %>
        <br>
        <%= link_to @question.user.username, '#'%>
      </div>

    </div>

    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
    Tags:
    <% @tags.each do |tag| %>
    <span class="badge"><%= link_to tag[:name], tag_path(tag), class: "tags-text"%></span>
    <% end %>
  </div>
</div>

<% @answers.each do |answer| %>
<%= answer.content %>
<% end %>

<!-- # <%= link_to 'Edit', edit_room_question_path(@question.room, @question) %> | -->
<!-- # <%= link_to 'Back', room_questions_path(@question.room) %> -->
