<% provide(:title, @question.title) %>
<h3>
  <%= link_to @question.room.name, room_path(@question.room) %>
</h3>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= link_to @question.title, room_question_path(@question.room, @question) %></h4>
  </div>
  <div class="panel-body">

    <div class="media">

      <div class="media-left media-top">
        <%= link_to @question.user.username, user_path(@question.user)%> <br><br>
        <%= link_to like_answer_path(@answer), class: "vote vote-up", method: :put do %>
        <i class="fa fa-thumbs-o-up fa-2x"></i>
        <% end %>
        <br>
        <%= @answer.score %>
        <%= link_to dislike_answer_path(@answer), class: "vote vote-down", method: :put do %>
          <i class="fa fa-thumbs-o-down fa-2x"></i>
        <% end %>
      </div>

      <div class="media-body">
        <%= @answer.content %>
        <br>
      </div>

    </div>
    <br>
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    Tags:
    <% @tags.each do |tag| %>
    <span class="badge"><%= link_to tag[:name], tag_path(tag), class: "tags-text"%></span>

    <% end %>
    <p class="pull-right">Posted at: <%= @answer.updated_at.strftime('%v')%></p>

    <% if can? :update, @question %>
      <br><br>
      <%= link_to "Edit question", edit_room_question_path(@question.room, @question), class: "btn btn-warning pull-right" %>
    <% end %>
    <% if can? :destroy, @question %>
      <%= link_to "Delete question", room_question_path(@question.room, @question), class: "btn btn-danger pull-right", method: :delete %>
    <% end %>


  </div>
</div>

<% @answers.each do |answer| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left media-top">
          <%= link_to answer.user.username, user_path(answer.user) %> <br><br>
          <%= link_to like_answer_path(answer), class: "vote vote-up", method: :put do %>
            <i class="fa fa-thumbs-o-up fa-2x"></i>
          <% end %>
          <br>
          <%= answer.score %>
          <%= link_to dislike_answer_path(answer), class: "vote vote-down", method: :put do %>
            <i class="fa fa-thumbs-o-down fa-2x"></i>
          <% end %>
        </div>
        <div class="media-body">
          <%= answer.content %>
          <br><br>
          <p class="pull-right">Posted at: <%= answer.updated_at.strftime('%v') %></p>
          <% if can? :update, answer %>
            <br><br>
            <%= link_to "Edit answer", edit_answer_path(answer), class: "btn btn-warning pull-right" %>
          <% end %>
          <% if can? :destroy, answer %>
            <%= link_to "Delete answer", answer_path(answer), class: "btn btn-danger pull-right", method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Answer to question</h3>
  </div>
  <div class="panel-body">
    <form action="<%= answers_path %>" method="post" onsubmit="postAnswer()">
      <textarea name="content" rows="8" class="form-control"></textarea>
      <br>
      <input type="submit" value="Post answer" class="btn btn-primary">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <%= hidden_field_tag "question_id" %>
    </form>
  </div>
</div>

<% content_for :js do %>
  <script>
    function postAnswer() {
      var question_id = "<%= params[:id] %>";
      $("#question_id").val(question_id);
    }
  </script>
<% end %>
