<p id="notice"><%= notice %></p>

<h1>Listing Question Tags</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_tags.each do |question_tag| %>
      <tr>
        <td><%= question_tag.question %></td>
        <td><%= question_tag.tag %></td>
        <td><%= link_to 'Show', question_tag %></td>
        <td><%= link_to 'Edit', edit_question_tag_path(question_tag) %></td>
        <td><%= link_to 'Destroy', question_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question tag', new_question_tag_path %>
