<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_tag.question %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @question_tag.tag %>
</p>

<%= link_to 'Edit', edit_question_tag_path(@question_tag) %> |
<%= link_to 'Back', question_tags_path %>
