<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :question_id %>
    <%= f.text_field :question_id, class: "form-control" %><br>


    <%= f.label :user_id %>
    <%= f.text_field :user_id, class: "form-control" %><br>

    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %><br>

    <%= f.label :is_question %>
    <%= f.check_box :is_question %> <br>


    <%= f.label :is_accepted %>
    <%= f.check_box :is_accepted %> <br> 

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
