<h1 class="text-center"><%= link_to "All Subjects", rooms_path %></h1>

<% @rooms.each do |room| %>
  <h3><%= link_to room.name, room %>
    <% if can? :update, room %>
      <span><%= link_to 'Edit', edit_room_path(room), class: "btn btn-warning" %></span>
    <% end %>
    <% if can? :destroy, room %>
      <span><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></span>
    <% end %>
  </h3>
<% end %>

<br>
<br>

<% if can? :create, Room %>
  <%= link_to 'New Room', new_room_path, class: "btn btn-primary" %>
<% end %>
